
<p><img src="../../assets/logo.png" />
  Evida har det overordnede ansvar for det danske gasdistributionssystem. Evida
  har en robust driftsøkonomi baseret på organisering med regulerede selskaber
  og et serviceselskab.
</p>

<p>
  I de kommende år vil Danmarks gasforbrug ændre sig markant.
  Husholdningskunderne vil blive frakoblet, de energitunge virksomheder vil
  bruge mere gas, og biogasproduktionen vil være stærkt stigende. Det stiller en
  række nye krav til Evidas gasinfrastruktur, som ikke tidligere er set nogen
  steder i verden.
</p>

<p>
  Som ejer af gasdistributionsinfrastrukturen i Danmark vil Evida tilpasse,
  udbygge og optimere driften af gassystemet, så infrastrukturen er klar til
  fremtidens energisystem med 100 % biogas, som fortsat skal sikre
  forsyningssikkerheden i det danske energisystem.
</p>

<p>
  Samtidig gør Evida klar til at distribuere brint og CO2, så det danske
  PtX-potentiale bliver indfriet.
</p>
